<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Librarian Details</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="margin-top: 50px;">
    
    <h1 th:text="'Hello! ' + ${librarian.firstName} + ' ' + ${librarian.lastName}">Librarian Details</h1>
    
        <h1>Borrow Requests</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th> Requested By </th>
                    <!-- Add more headers as per Book attributes -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${borrowRequests}">
                    <td th:text="${book.bookId}"></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.borrowedBy != null ? book.borrowedBy.firstName + ' ' + book.borrowedBy.lastName : 'Not Requested'}"></td>
                    <td>
                        <!-- Accept Form -->
                        <form th:action="@{/acceptBorrowRequest}" method="post">
                            <input type="hidden" name="bookId" th:value="${book.bookId}" />
                            <button type="submit" class="btn btn-success">Accept</button>
                        </form>

                        <!-- Decline Form -->
                        <form th:action="@{/declineBorrowRequest}" method="post">
                            <input type="hidden" name="bookId" th:value="${book.bookId}" />
                            <button type="submit" class="btn btn-danger">Decline</button>
                        </form>
                    </td>
                     
                    <!-- Add more cells as per Book attributes -->
                </tr>
            </tbody>
        </table>
        
        
        <h1>Return Requests</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <!-- Add more headers as per Book attributes -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${returnRequests}">
                    <td th:text="${book.bookId}"></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <!-- Add more cells as per Book attributes -->
                </tr>
            </tbody>
        </table>
        
        
    </div>
    <div class="container" style="margin-top: 50px;">
		<a th:href="@{/}">Home</a>
    </div>
</body>
</html>
