<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Member Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="margin-top: 50px;">
        <h1>Sign up as Library Member</h1>

        <!-- Success Message -->
        <div th:if="${message}" class="alert alert-success">
            <span th:text="${message}"></span>
        </div>

        <!-- Member Sign Up Form -->
        <form th:action="@{/MemberSignUp}" th:object="${member}" method="post">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" th:field="*{firstName}" class="form-control" placeholder="Enter first name" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" class="form-control" placeholder="Enter last name" required>
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" th:field="*{username}" class="form-control" placeholder="Enter username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" th:field="*{password}" class="form-control" placeholder="Enter password" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
    <div class="container" style="margin-top: 50px;">
		<a th:href="@{/MemberLogin}">Go Back</a><br><br>
	</div>
	<div class="container" style="margin-top: 50px;">
		<a th:href="@{/}">Home</a>
    </div>
</body>
</html>

